<div class="page-header">
  <h1>Replace orders</h1>
</div>
<%= render :partial=>'accounts/account_nav',:locals=>{:account=>@account}%>

<%#= @order.inspect %>
<% if @order[0] %>
  <%
  market=nil
  quantity=nil
  rate=nil
  type=nil
  @order[2].each do |key,val|
  if key=="Exchange"
    market=CGI::escape val.to_s
  elsif key=="QuantityRemaining"
    quantity=CGI::escape val.to_s
  elsif key=="Limit"
    rate=CGI::escape val.to_s
  elsif key=="Type"
    type=val
  end


  %>
  <strong><%=key%>:</strong> <%=val%><br />
  <%end%>
  <%if type=="LIMIT_BUY"%>
  <%= link_to t('.order_limit_buy', :default => t("helpers.links.order_limit_buy")), user_account_buylimit_order_path(user_id: current_user.slug , account_id: @account.id,:market=>market,:quantity=>quantity,:rate=>rate,:uuid=>@uuid) , :class => 'btn btn-default btn-lg btn-info' , :data => { :confirm =>"Are you sure ? the order will be cancelled, and renewed" } %>
  <%elsif type=="LIMIT_SELL"%>
<%= link_to t('.order_limit_sell', :default => t("helpers.links.order_limit_sell")), user_account_selllimit_order_path(user_id: current_user.slug , account_id: @account.id,:market=>market,:quantity=>quantity,:rate=>rate,:uuid=>@uuid) , :class => 'btn btn-default btn-lg btn-info', :data => { :confirm =>"Are you sure ? the order will be cancelled, and renewed" } %>

  <%end%>
<%end%>
